<a href="https://colab.research.google.com/github/Andymlndz/ProgrmacionOaO/blob/main/unidad1/introduccionApython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image](https://github.com/JoseGabriel-ITD/Probabilidad-y-Estadistica/blob/main/Cintilla2004.png?raw=true)

# **Programacion orientada a objetos**

## Unidad 1

### Practica 1. introduccion

### Facilitador: *Dr. José Gabriel Rodríguez Rivas*

### Alumno: Itzel Andrea Melendez Arrieta

In [1]:
variable = input("Escribe tu nombre: ")
print("Tu nombre es: ", variable )

Escribe tu nombre: Andy
Tu nombre es:  Andy

In [2]:
nom = input("¿Me puedes dar tu nombre por favor? ")
apellido = input("¿Me puedes dar tu apellido por favor? ")
print("Gracias.")
print("\nTu nombre es: " + nom + " " + apellido + ".")
print("\nTu nombre es: ", nom, apellido, ".")

¿Me puedes dar tu nombre por favor? Andrea
¿Me puedes dar tu apellido por favor? Melendez
Gracias.

Tu nombre es: Andrea Melendez.

Tu nombre es:  Andrea Melendez .

In [3]:
# Marca error porque se debe convertir el tipo de dato.
x = input("Dame un numero para multiplicar ")
z = x * 5
print(z)

Dame un numero para multiplicar 2
22222

In [4]:
x = int(input("Dame un numero para multiplicar: "))
z = x * 5
print(z)

Dame un numero para multiplicar: 2
10

In [5]:
cateto_a = float(input("Inserta la longitud del primmer cateto: "))
cateto_b = float(input("Inserta la longitud del segundo cateto: "))
hipo = (cateto_a**2 + cateto_b**2)**.5
print("La longitud de la hipotenusa es: ", hipo )

Inserta la longitud del primmer cateto: 3
Inserta la longitud del segundo cateto: 4
La longitud de la hipotenusa es:  5.0

In [ ]:
a=3000
b=3000
if b > a:
  print("b es mayor que a ")
  print("b vale => ",b)
elif a==b:
    print("a y b son iguales")
    print("a y b valen => ",a)
else:
    print("a es mayor que b")
    print("a vale => ",a)
    print("Fin del if")

a y b son iguales
a y b valen =>  3000

In [ ]:
x=50
y=60
print("x es mayor que y ")if (x > y) else print("y es mayor que x")

y es mayor que x

In [ ]:
i=1
while i <= 10:
  print(i)
  i+=1
print("fuera del while")

1
2
3
4
5
6
7
8
9
10
fuera del while

In [ ]:
i=1
while i <= 1000:
  print(i)
  if i== 10:
    print("Entro al if")
    break
  i+=1
print("fuera del while")

1
2
3
4
5
6
7
8
9
10
Entro al if
fuera del while

In [ ]:
while True:
    print("""Seleccione una opción
    1) Opción 1
    2) Opción 2
    3) Salir""")
    opcion = input("¿Cuál es la opción que deseas? ")
    if opcion == "1":
        print("Has seleccionado la opción 1 \n")
    elif opcion == "2":
        print("Has seleccionado la opción 2 \n")
    elif opcion == "3":
        print("Has seleccionado la opción 3 \n")
        break
    else:
        print("Has seleccionado una opción incorrecta")

Seleccione una opción
    1) Opción 1
    2) Opción 2
    3) Salir
¿Cuál es la opción que deseas? 1
Has seleccionado la opción 1

Seleccione una opción
    1) Opción 1
    2) Opción 2
    3) Salir
¿Cuál es la opción que deseas? 3
Has seleccionado la opción 3

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
for z in range(2,5):
  print(z)

2
3
4

In [ ]:
for z in range(1, 25, 2):
  print(z)

1
3
5
7
9
11
13
15
17
19
21
23

In [ ]:
print("La instrucccion break")
variables = True #variable de tipo boleana
for i in range(1,6):
   print("Esto es un print dentro de un for")
   if variables:
     print("Entro al if")
     break
print("Fuera del for")

La instrucccion break
Esto es un print dentro de un for
Entro al if
Fuera del for

In [ ]:
print("Fuera del bucle")
print("\n La instruccion continue: ")
for i in range(1, 6):
  if i == 3:
    continue
  print("Dentro del bucle",i)
print("Fuera del bucle")

Fuera del bucle

 La instruccion continue:
Dentro del bucle 1
Dentro del bucle 2
Dentro del bucle 4
Dentro del bucle 5
Fuera del bucle

In [ ]:
frutas = ["platano", "naranja", "manzana"]
for x in frutas:
  print(x)
  if x == "naranja":
    break

platano
naranja

In [ ]:
n = 0
while n != 3:
  print(n)
  n += 1
else:
  print(n, "else")
print() #Para generar linea en blanco
for i in range(0,3):
  print(i)
else:
  print(i, "else")

0
1
2
3 else

0
1
2
2 else

In [ ]:
def funcion_saludar():
  print("Hola mundo, desde mi funcion")

In [ ]:
def tablas_multiplicar(x):
  for z in range(1, 11):
    print(x, "x", z, "=", x*z)
  print("\n Fin desde mi funcion")

In [ ]:
tablas_multiplicar(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

 Fin desde mi funcion

In [ ]:
def presentar(nombre, apellido, edad):
  print("Mi nombre es", nombre, apellido, "y mi edad es", edad)

presentar("luke", "skywalker", 20)
presentar("Clark", "Kent", 35)
presentar("juan", 35, "salazar")

Mi nombre es luke skywalker y mi edad es 20
Mi nombre es Clark Kent y mi edad es 35
Mi nombre es juan 35 y mi edad es salazar

In [ ]:
def presentar(nombre, apellido=" Rodrguez"):
  print("Hola mi nombre es", nombre, apellido)

presentar("Juan","Salazar")
presentar("Juan")

Hola mi nombre es Juan Salazar
Hola mi nombre es Juan  Rodrguez

In [ ]:
def presentar(nombre, apellido):
  print("Hola mi nombre es", nombre, apellido)

presentar(apellido="Bond", nombre="James")
presentar(apellido="skywalker", nombre="luke")

Hola mi nombre es James Bond
Hola mi nombre es luke skywalker

In [ ]:
def calculadoraDoble(qaz):
  qaz = qaz * 2
  return qaz

In [ ]:
#asignar valor
valor_al_doble = calculadoraDoble(5)
print(valor_al_doble)

10

In [ ]:
def mifuncion():
  variable=2
  print("¿Valor de la variable?", variable)

variable=1
print("Valor de la variable", variable)
mifuncion()
print("Valor de la variable", variable)

Valor de la variable 1
¿Valor de la variable? 2
Valor de la variable 1

In [ ]:
def mifuncion():
  global variable
  variable=2
  print("¿Valor de la variable?", variable)

variable=1
print("Valor de la variable", variable)
mifuncion()
print("Valor de la variable", variable)

Valor de la variable 1
¿Valor de la variable? 2
Valor de la variable 2

In [6]:
class Libro:
  def __init__(self, titulo, autor, isbn, precio): #constructor de la clase
    self.titulo = titulo
    self.autor = autor
    self.isbn = isbn
    self.precio = precio

  def mostrar_info(self):  #Metodo
    return f"{self.titulo} por {self.autor} -ISBN: {self.isbn}, Precio: ${self.precio}"

In [7]:
libro1 = Libro("Cien años de soledad", "Gabriel García Márquez", "978-0307474728", 350.00)
libro2 = Libro("1984", "George Orwell", "978-0451524935", 220.00)

In [8]:
print(libro1.mostrar_info())
print(libro2.mostrar_info())

Cien años de soledad por Gabriel García Márquez -ISBN: 978-0307474728, Precio: $350.0
1984 por George Orwell -ISBN: 978-0451524935, Precio: $220.0